menu "GPIO Configuration"
 	config BLINK_GPIO
        int "Blink GPIO number"
        default 5
        help
            GPIO number (IOxx) to blink on and off or the RMT signal for the addressable LED.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
    		            
    config RED_GPIO
   		int "LED RED GPIO number"
    	range 0 48
    	default 18
    	help
    		RED GPIO.
    		
  	config GREEN_GPIO
    	int "LED GREEN GPIO number"
    	range 0 48
    	default 25
    	help
    		GREEN GPIO.		
 
	config BLUE_GPIO
    	int "LED BLUE GPIO number"
    	range 0 48
    	default 33
    	help
    		BLUE GPIO. 
endmenu

menu "GSM Configuration"
  	config GSM_UART_RXD
        int "UART RXD pin number"
        default 15
        help
            GPIO number for UART RX pin. See UART documentation for more information
            about available pin numbers for UART.
            
	config GSM_UART_TXD
        int "UART TXD pin number"
        default 5
        help
            GPIO number for UART RX pin. See UART documentation for more information
            about available pin numbers for UART.        
            
    config POWER_GSM_GPIO
    	int "Turn ON/OFF GSM module"
   		range 0 48
   		default 27
    	help
    		Turn ON/OFF GSM module.                               
endmenu